<!doctype html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.seo_title | default: page.title | default: site.data.site_settings.site_name }}</title>
  <meta name="description" content="{{ page.seo_description | default: page.excerpt | default: site.data.site_settings.site_name }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
